address1,address3,city_village,county_district,state_province,country
Olive Tree,River Bridge,Boca Raton,Palm Beach,FL,USA
Potato Field,River Bridge,Boca Raton,Palm Beach,FL,USA
Bedford Mews,Wellington,West Palm Beach,Palm Beach,FL,USA
Polo,Wellington,West Palm Beach,Palm Beach,FL,USA
Huron,Fresh Pond,Cambridge,Middlesex,MA,USA
Reservoir,Fresh Pond,Cambridge,Middlesex,MA,USA
East Gate,MIT,Cambridge,Middlesex,MA,USA
Maseeh,MIT,Cambridge,Middlesex,MA,USA
McCormick,MIT,Cambridge,Middlesex,MA,USA
Senior House,MIT,Cambridge,Middlesex,MA,USA
West Gate,MIT,Cambridge,Middlesex,MA,USA
Adams,Riverside,Cambridge,Middlesex,MA,USA
Dunster,Riverside,Cambridge,Middlesex,MA,USA
Lowell,Riverside,Cambridge,Middlesex,MA,USA
Leverett,Riverside,Cambridge,Middlesex,MA,USA
Radcliffe,Riverside,Cambridge,Middlesex,MA,USA
Cabot,Riverside,Cambridge,Middlesex,MA,USA
Kirkland,Riverside,Cambridge,Middlesex,MA,USA
Radcliffe,Riverside,Cambridge,Middlesex,MA,USA
Mather,Riverside,Cambridge,Middlesex,MA,USA
Dudley,Riverside,Cambridge,Middlesex,MA,USA
Inman,Mid-Cambridge,Cambridge,Middlesex,MA,USA
Copley Square,Back Bay,Boston,Suffolk,MA,USA
State House,Beacon Hill,Boston,Suffolk,MA,USA
Bellevue Hill,West Roxbury,Boston,Suffolk,MA,USA
Highland,West Roxbury,Boston,Suffolk,MA,USA
Parkside,Jamaica Plain,Boston,Suffolk,MA,USA
Pondside,Jamaica Plain,Boston,Suffolk,MA,USA
Pembrooke,Quaker Friends,Moorestown,Burlington,NJ,USA
Fairway,Marucci,Sping Lake,Monmouth,NJ,USA
Brighton,Edgemere,Sping Lake,Monmouth,NJ,USA
Old Mill,Heights,Sping Lake,Monmouth,NJ,USA
Beachfront,Crescent Park,Sea Girt,Monmouth,NJ,USA
Boston Ave,Crescent Park,Sea Girt,Monmouth,NJ,USA
Revere,AP Morris,Hillside,Union,NJ,USA
Conant Estates,Hurden-Looker,Hillside,Union,NJ,USA
Galloping Hill,Kawahmee,Union,Union,NJ,USA
Rhinecliff,Riverside,Rhinebeck,Dutchess,NY,USA
Fairgrounds,Uptown,Rhinebeck,Dutchess,NY,USA
Washington Square,Greenwich Village,New York,New York,NY,USA
Lincoln Square,Upper West Side,New York,New York,NY,USA
Columbia,Morningside Heights,New York,New York,NY,USA
Chelsea,Midtown,New York,New York,NY,USA
Tompkins Square,Lower Eastside,New York,New York,NY,USA
Battery Park,Lower Manhattan,New York,New York,NY,USA
Newtown,Elmhurst,Queens,New York,NY,USA
Lost Battallion,Rego Park,Queens,New York,NY,USA
Juniper Park,Rego Park,Queens,New York,NY,USA
63rd Drive,Rego Park,Queens,New York,NY,USA
Atria,Forest Hills,Queens,New York,NY,USA
71st Avenue,Forest Hills,Queens,New York,NY,USA